demandware/templates/xml_scheme.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="catalog">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="header">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="image-settings">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="internal-location">
                                            <xs:complexType>
                                                <xs:attribute name="base-path" type="xs:string"></xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="view-types">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="view-type" maxOccurs="unbounded"
                                                                type="xs:string"></xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="alt-pattern" type="xs:string"></xs:element>
                                        <xs:element name="title-pattern" type="xs:string"></xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="category" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="display-name" maxOccurs="unbounded" type="xs:string">
                                <xs:complexType>
                                    <xs:attribute name="xml:lang" type="xs:string"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="online-flag" type="xs:string"></xs:element>
                            <xs:element name="template"></xs:element>
                            <xs:element name="page-attributes"></xs:element>
                            <xs:element name="attribute-groups">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="attribute-group">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="display-name" maxOccurs="unbounded"
                                                                type="xs:string">
                                                        <xs:complexType>
                                                            <xs:attribute name="xml:lang"
                                                                          type="xs:string"></xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="group-id" type="xs:string"></xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="refinement-definitions">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="refinement-definition" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="display-name" maxOccurs="unbounded"
                                                                type="xs:string">
                                                        <xs:complexType>
                                                            <xs:attribute name="xml:lang"
                                                                          type="xs:string"></xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="sort-mode" type="xs:string"></xs:element>
                                                    <xs:element name="cutoff-threshold" type="xs:int"></xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="type" type="xs:string"></xs:attribute>
                                                <xs:attribute name="bucket-type" type="xs:string"></xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="category-id" type="xs:string"></xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="category-assignment" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="primary-flag" type="xs:string"></xs:element>
                        </xs:sequence>
                        <xs:attribute name="category-id" type="xs:string"></xs:attribute>
                        <xs:attribute name="product-id" type="xs:string"></xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="recommendation" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="source-id" type="xs:int"></xs:attribute>
                        <xs:attribute name="source-type" type="xs:string"></xs:attribute>
                        <xs:attribute name="target-id" type="xs:int"></xs:attribute>
                        <xs:attribute name="type" type="xs:int"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="xmlns" type="xs:string"></xs:attribute>
            <xs:attribute name="catalog-id" type="xs:string"></xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
